<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style99.css}" type="text/css">
    <title>Flights</title>
</head>
<body>
<h1>FIND FLIGHT</h1>
<form action="#" th:action="@{/flight-result}" th:object="${flight}" method="post">
    Flight number: <input type="number" th:field="*{flightNumber}" /><br />
    Date: <input type="date" th:field="*{dateOfFlight}"/></br>
    <input type="submit" class="button" value="Submit"></br>
    <a href="/airport">Find Airport</a>
</form>
</body>
</html>